.App {
  text-align: center;
  min-height: 100vh;

}
  .nav{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    background: #1A1A1B;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #343536;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark theme styles */
.dark-theme {
  background-color: #030303;
  color: #ffffff;

}

/* White theme styles */
.white-theme {
  background-color: #ffffff;
  color: #000000;
}